<h1>This is a new form</h1>

<form action="/recipes" method="post">
Name: <input type="text" name="name">
Ingredients: <input type="text" name="ingredients">
Cook Time: <input type="integer" name="cook_time" >
<input type="submit" id="submit">
</form>
