<form action="/recipes" method="POST">
  <input type="text" placeholder="Awesome Recipe Name" name="recipe[name]" id="name">
  <input type="text" placeholder="Bread, Avocados, Garlic, pepper" name="recipe[ingredients]" id="ingredients">
  <input type="text" placeholder="30 minutes" name="recipe[cook_time]" id="cook_time">
  <input type="submit" id="submit">
</form>
