<h1>New Recipe</h1>

<form method="POST" action="/recipes">
  <p><label>Name:</label> <input type="text" name="name"></p>
  <p><label>Ingredients:</lable> <input type="text" name="ingredients"></p>
  <p><label>Cook time:</label> <input type="text" name="cook_time"></p>
  <p><input type="submit" name="submit" value="Submit"></p>
</form>
