<form method="POST" action="/recipes">
	<label>Recipe name: </label>
	<input type="text" name="name">
	<label>Recipe ingredients: </label>
	<input type="text" name="ingredients">
	<label>Cook time: </label>
	<input type="text" name="cook_time">
	<input type="submit">
</form>